body {
    margin: 0;
    border-radius: 8px;
    -webkit-user-select: none;
    user-select: none;

    overflow: hidden;
}

.waves {
    height:128px;
    width:546px;
    background-color: transparent;
    margin-left: 22px;
    visibility: visible;
}

.gooey {
    -webkit-filter: url(#GooFilter);
    filter: url(#GooFilter);
}

#Svg {
    margin-left: 22px;
}

.player {
    border: 2px solid #555;
    height:30px;
    line-height: 30px;
    width:550px;
    color: transparent;
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
    background-color: #444;
    border-radius: 5px;
    margin-left:18px;
}

.border { 
    display:inline-block;
    width: 414px;
	height: 24px;
	background: #555;
	border-radius: 5px;
    padding: 3px;
}

.progress-look {
    width: 0px;
    height: 24px;
    display: block;
    border-radius: 5px;
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}

.drop-look {
    width: 100%;
    height: 24px;
    display: block;
    border-radius: 5px;
    background: repeating-linear-gradient(45deg, #888, #888 20px, #444 20px, #444 40px);
}

.drop-zone {
    display: inline-block;
    width: 420px;
    height: 30px;
    position: relative;
    margin-left:8px;
    cursor: pointer;
}

.handle {
    height: 19px;
    width: 500px;
    margin-left: 45px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #555;
    position: relative;
    -webkit-app-region: drag;
    text-align: center;
}

hr {
    border: 0px;
    height: 2px;
    background-color: #444;
    width: 420px;
    display: inline-block;
}

.button {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background: #555;
    margin-left:8px;
    line-height: 30px !important;
    text-align: center;
    position: relative;
    vertical-align: top;
    cursor: pointer;
}

.side-button {
    display: inline-block;
    height: 30px;
    width: 3px;
    max-width: 18px;
    background: #555;
    line-height: 30px !important;
    text-align: center;
    position: absolute;
    vertical-align: center;
    cursor: pointer;
    overflow-x: hidden;
    transition-property: all;
    transition-duration: .7s;
    font-size: 0px;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.side-button.left:hover {
    width: 18px;
    left: 0px;
    font-size: 12px;
}

.left {
    left: 15px;
    bottom: 28px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.side-button.left::before {
    margin-left: 2px;
}

.side-button.right:hover {
    width: 18px;
    right: 0px;
    font-size: 9px;
}

.right {
    right: 15px;
    bottom: 28px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.side-button.right::before {
    margin-left: -2px;
}

.fas {
    color: #444;
}

.fa-times {
    color: #ff6348;
}

.fa-caret-down {
    color: #55efc4;
}

.far.off
{
    color: #444;
}

.far.on
{
    color: #FFEA8A;
}

.play-enabled {
    color: #55efc4;
}

.mute-enabled {
    color: #55efc4;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 75px;
    height: 10px;
    margin-left: 10px;
    background: #888;
    outline: none;
    border-radius: 5px;
}

#SliderContainer:hover {
    opacity: 1;
}

#Mute:hover ~ #SliderContainer {
    opacity: 0.6;
}

#SliderContainer {
    position: absolute;
    right: -2px;
    top: 75px;
    width: 90px;
    height: 30px;
    opacity: 0;
    transition: opacity .4s;
    transform: rotate(-90deg);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: #fd868c;
    cursor: pointer;
    border-radius: 5px;
}

#WaveformContainer {
    position: absolute;
    left: 28px;
    top: 45px;
    width: 30px;
    height: 90px;
    opacity: 0;
    transition: opacity .4s;
}

#WaveformContainer:hover {
    opacity: 1;
}

#WaveControllers {
    background-color: #888;
    border-radius: 5px;
    border-width: 2px;
    margin-left: 5px;
    height: 75px;
    width: 20px;
    margin-top: 5px;
}

.small-cube {
    display: block;
    position: relative;
    width: 10px;
    height: 10px;
    border-width: 1px;
    border-radius: 2px;
    margin-left: 5px;
    cursor: pointer;
}

#GooeyWaves {
    top: 18px;
    background-image: linear-gradient(to top, #43e97b 0%, #38f9d7 100%);
}

#NormalWaves {
    top: 23px;
    background-image: linear-gradient(to bottom, #e0c3fc 0%, #8ec5fc 100%);
}

#NoWave {
    top: 28px;
    background-color: #555;
}